In [21]:
import json
import requests
import pandas as pd
r = requests.get('https://api.covidtracking.com/v1/states/daily.json')
read_states = r.json()
states_covid_daily = pd.DataFrame(read_states)
states_covid_daily=states_covid_daily[states_covid_daily['date']==20210307]

def clean_state_name(state_acroname):
        state= {
        'AL': 'Alabama',
        'AK': 'Alaska',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'AR': 'Arkansas',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'DC': 'District of Columbia',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'IA': 'Iowa',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'ME': 'Maine',
        'MD': 'Maryland',
        'MA': 'Massachusetts',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MS': 'Mississippi',
        'MO': 'Missouri',
        'MT': 'Montana',
        'NE': 'Nebraska',
        'NV': 'Nevada',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NY': 'New York',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'MP':'Northern Mariana Islands',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VT': 'Vermont',
        'VI': 'Virgin Islands',
        'VA': 'Virginia',
        'WA': 'Washington',
        'WV': 'West Virginia',
        'WI': 'Wisconsin',
        'WY': 'Wyoming'}
        if state_acroname in state:
            return state[state_acroname]
        else:
            return state_acroname
        
states_covid_daily['state']=states_covid_daily['state'].apply(clean_state_name)
covid_cumulative=states_covid_daily[['state','positive','hospitalizedCumulative','death','totalTestResults']]
covid_cumulative

,state,positive,hospitalizedCumulative,death,totalTestResults
0,Alaska,56886.0,1293.0,305.0,1731628.0
1,Alabama,499819.0,45976.0,10148.0,2323788.0
2,Arkansas,324818.0,14926.0,5319.0,2736442.0
3,American Samoa,0.0,NaN,0.0,2140.0
4,Arizona,826454.0,57907.0,16328.0,7908105.0
5,California,3501394.0,NaN,54124.0,49646014.0
6,Colorado,436602.0,23904.0,5989.0,6415123.0
7,Connecticut,285330.0,12257.0,7704.0,6520366.0
8,District of Columbia,41419.0,NaN,1030.0,1261363.0
9,Delaware,88354.0,NaN,1473.0,1431942.0
10,Florida,1909209.0,82237.0,32266.0,22339182.0
11,Georgia,1023487.0,56797.0,17906.0,7359069.0
12,Guam,7749.0,NaN,133.0,120636.0
13,Hawaii,28699.0,2226.0,445.0,1146796.0
14,Iowa,282384.0,NaN,5558.0,1326802.0
15,Idaho,172931.0,7184.0,1879.0,645838.0
16,Illinois,1198335.0,NaN,23014.0,18640190.0
17,Indiana,667262.0,43217.0,12737.0,8242367.0
18,Kansas,295861.0,9387.0,4812.0,1270547.0
19,Kentucky,410709.0,19457.0,4819.0,3975672.0
20,Louisiana,433785.0,NaN,9748.0,5695464.0
21,Massachusetts,591356.0,19713.0,16417.0,16825551.0
22,Maryland,387319.0,35651.0,7955.0,8097590.0
23,Maine,45794.0,1570.0,706.0,1660180.0
24,Michigan,656072.0,NaN,16658.0,10621967.0
25,Minnesota,490011.0,25978.0,6550.0,7111428.0
26,Missouri,480643.0,NaN,8161.0,4565866.0
27,Northern Mariana Islands,145.0,4.0,2.0,17574.0
28,Mississippi,297581.0,9162.0,6808.0,1756955.0
29,Montana,100914.0,4630.0,1381.0,1104488.0
30,North Carolina,872176.0,NaN,11502.0,9688838.0
31,North Dakota,100391.0,3880.0,1478.0,1425146.0
32,Nebraska,203026.0,6237.0,2113.0,2421684.0
33,New Hampshire,76861.0,1131.0,1184.0,1497185.0
34,New Jersey,812609.0,64396.0,23574.0,10999550.0
35,New Mexico,186922.0,13252.0,3808.0,2783542.0
36,Nevada,296190.0,NaN,5037.0,2770192.0
37,New York,1681169.0,89995.0,39029.0,39695100.0
38,Ohio,978471.0,50881.0,17656.0,10257157.0
39,Oklahoma,428997.0,24332.0,4534.0,3575297.0
40,Oregon,157079.0,8714.0,2296.0,3850973.0
41,Pennsylvania,948643.0,NaN,24349.0,10681716.0
42,Puerto Rico,101632.0,NaN,2062.0,407604.0
43,Rhode Island,128781.0,9020.0,2547.0,3123348.0
44,South Carolina,525865.0,20725.0,8754.0,5183044.0
45,South Dakota,113589.0,6705.0,1900.0,701924.0
46,Tennessee,782206.0,18870.0,11543.0,6872745.0
47,Texas,2686818.0,NaN,44451.0,19907384.0
48,Utah,374850.0,14891.0,1976.0,2910121.0
49,Virginia,585700.0,24661.0,9596.0,6038209.0
50,Virgin Islands,2714.0,NaN,25.0,48881.0
51,Vermont,16083.0,NaN,208.0,1124215.0
52,Washington,344532.0,19599.0,5041.0,5393756.0
53,Wisconsin,621654.0,26457.0,7106.0,7080595.0
54,West Virginia,133445.0,NaN,2325.0,2236551.0
55,Wyoming,54764.0,1391.0,682.0,649293.0

Clean-population-data

In [22]:
import pandas as pd
df_population=pd.read_excel("population.xlsx",header=[1],skiprows=[0,1,-1])
df_population=df_population.rename(columns = {'Unnamed: 0':'state',2019:'2019population'})
df_population=df_population[['state', '2019population']].dropna()
def replacing(state):
    state=state.replace('.','')
    return state
df_population['state']=df_population['state'].apply(replacing)

df_population.head()

           state  2019population
0  United States     328239523.0
1      Northeast      55982803.0
2        Midwest      68329004.0
3          South     125580448.0
4           West      78347268.0

Merging

In [23]:
=pd.merge(df_population,covid_cumulative,how='inner',on='state')
a

,state,2019population,positive,hospitalizedCumulative,death,totalTestResults
0,Alabama,4903185.0,499819.0,45976.0,10148.0,2323788.0
1,Alaska,731545.0,56886.0,1293.0,305.0,1731628.0
2,Arizona,7278717.0,826454.0,57907.0,16328.0,7908105.0
3,Arkansas,3017804.0,324818.0,14926.0,5319.0,2736442.0
4,California,39512223.0,3501394.0,NaN,54124.0,49646014.0
5,Colorado,5758736.0,436602.0,23904.0,5989.0,6415123.0
6,Connecticut,3565287.0,285330.0,12257.0,7704.0,6520366.0
7,Delaware,973764.0,88354.0,NaN,1473.0,1431942.0
8,District of Columbia,705749.0,41419.0,NaN,1030.0,1261363.0
9,Florida,21477737.0,1909209.0,82237.0,32266.0,22339182.0
10,Georgia,10617423.0,1023487.0,56797.0,17906.0,7359069.0
11,Hawaii,1415872.0,28699.0,2226.0,445.0,1146796.0
12,Idaho,1787065.0,172931.0,7184.0,1879.0,645838.0
13,Illinois,12671821.0,1198335.0,NaN,23014.0,18640190.0
14,Indiana,6732219.0,667262.0,43217.0,12737.0,8242367.0
15,Iowa,3155070.0,282384.0,NaN,5558.0,1326802.0
16,Kansas,2913314.0,295861.0,9387.0,4812.0,1270547.0
17,Kentucky,4467673.0,410709.0,19457.0,4819.0,3975672.0
18,Louisiana,4648794.0,433785.0,NaN,9748.0,5695464.0
19,Maine,1344212.0,45794.0,1570.0,706.0,1660180.0
20,Maryland,6045680.0,387319.0,35651.0,7955.0,8097590.0
21,Massachusetts,6892503.0,591356.0,19713.0,16417.0,16825551.0
22,Michigan,9986857.0,656072.0,NaN,16658.0,10621967.0
23,Minnesota,5639632.0,490011.0,25978.0,6550.0,7111428.0
24,Mississippi,2976149.0,297581.0,9162.0,6808.0,1756955.0
25,Missouri,6137428.0,480643.0,NaN,8161.0,4565866.0
26,Montana,1068778.0,100914.0,4630.0,1381.0,1104488.0
27,Nebraska,1934408.0,203026.0,6237.0,2113.0,2421684.0
28,Nevada,3080156.0,296190.0,NaN,5037.0,2770192.0
29,New Hampshire,1359711.0,76861.0,1131.0,1184.0,1497185.0
30,New Jersey,8882190.0,812609.0,64396.0,23574.0,10999550.0
31,New Mexico,2096829.0,186922.0,13252.0,3808.0,2783542.0
32,New York,19453561.0,1681169.0,89995.0,39029.0,39695100.0
33,North Carolina,10488084.0,872176.0,NaN,11502.0,9688838.0
34,North Dakota,762062.0,100391.0,3880.0,1478.0,1425146.0
35,Ohio,11689100.0,978471.0,50881.0,17656.0,10257157.0
36,Oklahoma,3956971.0,428997.0,24332.0,4534.0,3575297.0
37,Oregon,4217737.0,157079.0,8714.0,2296.0,3850973.0
38,Pennsylvania,12801989.0,948643.0,NaN,24349.0,10681716.0
39,Rhode Island,1059361.0,128781.0,9020.0,2547.0,3123348.0
40,South Carolina,5148714.0,525865.0,20725.0,8754.0,5183044.0
41,South Dakota,884659.0,113589.0,6705.0,1900.0,701924.0
42,Tennessee,6829174.0,782206.0,18870.0,11543.0,6872745.0
43,Texas,28995881.0,2686818.0,NaN,44451.0,19907384.0
44,Utah,3205958.0,374850.0,14891.0,1976.0,2910121.0
45,Vermont,623989.0,16083.0,NaN,208.0,1124215.0
46,Virginia,8535519.0,585700.0,24661.0,9596.0,6038209.0
47,Washington,7614893.0,344532.0,19599.0,5041.0,5393756.0
48,West Virginia,1792147.0,133445.0,NaN,2325.0,2236551.0
49,Wisconsin,5822434.0,621654.0,26457.0,7106.0,7080595.0
50,Wyoming,578759.0,54764.0,1391.0,682.0,649293.0
51,Puerto Rico,3193694.0,101632.0,NaN,2062.0,407604.0