In [2]:
import json
import requests
import pandas as pd
import numpy as np
r = requests.get('https://api.covidtracking.com/v1/states/daily.json')
read_states = r.json()
states_covid_daily = pd.DataFrame(read_states)
states_covid_daily=states_covid_daily[states_covid_daily['date']==20210307]

def clean_state_name(state_acroname):
        state= {
        'AL': 'Alabama',
        'AK': 'Alaska',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'AR': 'Arkansas',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'DC': 'District of Columbia',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'IA': 'Iowa',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'ME': 'Maine',
        'MD': 'Maryland',
        'MA': 'Massachusetts',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MS': 'Mississippi',
        'MO': 'Missouri',
        'MT': 'Montana',
        'NE': 'Nebraska',
        'NV': 'Nevada',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NY': 'New York',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'MP':'Northern Mariana Islands',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VT': 'Vermont',
        'VI': 'Virgin Islands',
        'VA': 'Virginia',
        'WA': 'Washington',
        'WV': 'West Virginia',
        'WI': 'Wisconsin',
        'WY': 'Wyoming'}
        if state_acroname in state:
            return state[state_acroname]
        else:
            return state_acroname
        
states_covid_daily['state']=states_covid_daily['state'].apply(clean_state_name)
covid_cumulative=states_covid_daily[['state','positive','hospitalizedCumulative','death','totalTestResults']]

Clean-population-data

In [3]:
df_population=pd.read_excel("population.xlsx",header=[1],skiprows=[0,1,-1])
df_population=df_population.rename(columns = {'Unnamed: 0':'state',2019:'2019population'})
df_population=df_population[['state', '2019population']].dropna()
def replacing(state):
    state=state.replace('.','')
    return state
df_population['state']=df_population['state'].apply(replacing)

df_population.head()

           state  2019population
0  United States     328239523.0
1      Northeast      55982803.0
2        Midwest      68329004.0
3          South     125580448.0
4           West      78347268.0

Merging

In [4]:
Covid_and_population=pd.merge(df_population,covid_cumulative,how='inner',on='state')
Covid_and_population['infection_rate']=Covid_and_population['positive']/Covid_and_population['2019population']
Covid_and_population['death_rate']=Covid_and_population['death']/Covid_and_population['positive']
Covid_and_population['test_rate']=Covid_and_population['totalTestResults']/Covid_and_population['2019population']
Covid_and_population['hospitalized_rate']=Covid_and_population['hospitalizedCumulative']/Covid_and_population['positive']
# Covid_and_population['hospitalized_rate'].fillna(value=np.(Covid_and_population['hospitalized_rate']), inplace=True)
Covid_and_population.head()

,state,2019population,positive,hospitalizedCumulative,death,totalTestResults,infection_rate,death_rate,test_rate,hospitalized_rate
0,Alabama,4903185.0,499819.0,45976.0,10148.0,2323788.0,0.101938,0.020303,0.473934,0.091985
1,Alaska,731545.0,56886.0,1293.0,305.0,1731628.0,0.077761,0.005362,2.367083,0.022730
2,Arizona,7278717.0,826454.0,57907.0,16328.0,7908105.0,0.113544,0.019757,1.086470,0.070067
3,Arkansas,3017804.0,324818.0,14926.0,5319.0,2736442.0,0.107634,0.016375,0.906766,0.045952
4,California,39512223.0,3501394.0,NaN,54124.0,49646014.0,0.088615,0.015458,1.256472,NaN

In [5]:
labels = pd.Categorical(['lowest25%','50%-75%','''25%-50%''','top25%'],ordered=True)

Covid_and_population['infection_rank'] = pd.qcut(Covid_and_population['infection_rate'], 4, labels = labels)
Covid_and_population['death_rank'] = pd.qcut(Covid_and_population['death_rate'], 4, labels=labels)
Covid_and_population['test_rank'] = pd.qcut(Covid_and_population['test_rate'], 4,labels=labels)

In [6]:
Covid_and_population.head()

,state,2019population,positive,hospitalizedCumulative,death,totalTestResults,infection_rate,death_rate,test_rate,hospitalized_rate,infection_rank,death_rank,test_rank
0,Alabama,4903185.0,499819.0,45976.0,10148.0,2323788.0,0.101938,0.020303,0.473934,0.091985,top25%,top25%,lowest25%
1,Alaska,731545.0,56886.0,1293.0,305.0,1731628.0,0.077761,0.005362,2.367083,0.022730,50%-75%,lowest25%,top25%
2,Arizona,7278717.0,826454.0,57907.0,16328.0,7908105.0,0.113544,0.019757,1.086470,0.070067,top25%,25%-50%,25%-50%
3,Arkansas,3017804.0,324818.0,14926.0,5319.0,2736442.0,0.107634,0.016375,0.906766,0.045952,top25%,50%-75%,50%-75%
4,California,39512223.0,3501394.0,NaN,54124.0,49646014.0,0.088615,0.015458,1.256472,NaN,50%-75%,50%-75%,25%-50%

In [10]:
def final_score(row):
    score = int()
    if row[-1]=='top25%':
        score += 100
    elif row[-1]=='25%-50%':
        score += 75
    elif row[-1]=='50%-75%':
        score += 50
    elif row[-1]=='lowest25%':
        score += 25
    if row[-2]=='top25%':
        score += 25
    elif row[-2]=='25%-50%':
        score += 50
    elif row[-2]=='50%-75%':
        score += 75
    elif row[-2]=='lowest25%':
        score += 100
    if  row[-3]=='top25%':
        score += 25
    elif row[-3]=='25%-50%':
        score += 50
    elif row[-3]=='50%-75%':
        score += 75
    elif row[-3]=='lowest25%':
        score += 100
    return score

Covid_and_population['final_score'] = Covid_and_population.apply(final_score, axis=1)
Covid_and_population['final_score']
Covid_and_population=Covid_and_population.sort_values(['final_score','infection_rate'],ascending=False)
Covid_and_population=Covid_and_population.reset_index().drop('index',axis=1)
Covid_and_population.index+=1
Covid_and_population

,state,2019population,positive,hospitalizedCumulative,death,totalTestResults,infection_rate,death_rate,test_rate,hospitalized_rate,infection_rank,death_rank,test_rank,final_score
1,Idaho,1787065.0,172931.0,7184.0,1879.0,645838.0,0.096768,0.010866,0.361396,0.041543,25%-50%,lowest25%,lowest25%,200
2,Utah,3205958.0,374850.0,14891.0,1976.0,2910121.0,0.116923,0.005271,0.907723,0.039725,top25%,lowest25%,50%-75%,175
3,Oklahoma,3956971.0,428997.0,24332.0,4534.0,3575297.0,0.108416,0.010569,0.903544,0.056718,top25%,lowest25%,50%-75%,175
4,Kansas,2913314.0,295861.0,9387.0,4812.0,1270547.0,0.101555,0.016264,0.436117,0.031728,top25%,50%-75%,lowest25%,175
5,Montana,1068778.0,100914.0,4630.0,1381.0,1104488.0,0.094420,0.013685,1.033412,0.045881,25%-50%,lowest25%,50%-75%,175
6,Texas,28995881.0,2686818.0,NaN,44451.0,19907384.0,0.092662,0.016544,0.686559,NaN,25%-50%,50%-75%,lowest25%,175
7,Kentucky,4467673.0,410709.0,19457.0,4819.0,3975672.0,0.091929,0.011733,0.889875,0.047374,25%-50%,lowest25%,50%-75%,175
8,North Carolina,10488084.0,872176.0,NaN,11502.0,9688838.0,0.083159,0.013188,0.923795,NaN,50%-75%,lowest25%,50%-75%,175
9,Virginia,8535519.0,585700.0,24661.0,9596.0,6038209.0,0.068619,0.016384,0.707421,0.042105,lowest25%,50%-75%,lowest25%,175
10,Washington,7614893.0,344532.0,19599.0,5041.0,5393756.0,0.045244,0.014631,0.708317,0.056886,lowest25%,50%-75%,lowest25%,175
11,Hawaii,1415872.0,28699.0,2226.0,445.0,1146796.0,0.020269,0.015506,0.809957,0.077564,lowest25%,50%-75%,lowest25%,175
12,South Dakota,884659.0,113589.0,6705.0,1900.0,701924.0,0.128399,0.016727,0.793440,0.059029,top25%,25%-50%,lowest25%,150
13,Tennessee,6829174.0,782206.0,18870.0,11543.0,6872745.0,0.114539,0.014757,1.006380,0.024124,top25%,50%-75%,50%-75%,150
14,Arkansas,3017804.0,324818.0,14926.0,5319.0,2736442.0,0.107634,0.016375,0.906766,0.045952,top25%,50%-75%,50%-75%,150
15,Wisconsin,5822434.0,621654.0,26457.0,7106.0,7080595.0,0.106769,0.011431,1.216088,0.042559,top25%,lowest25%,25%-50%,150
16,Nebraska,1934408.0,203026.0,6237.0,2113.0,2421684.0,0.104955,0.010408,1.251899,0.030720,top25%,lowest25%,25%-50%,150
17,South Carolina,5148714.0,525865.0,20725.0,8754.0,5183044.0,0.102135,0.016647,1.006668,0.039411,top25%,50%-75%,50%-75%,150
18,Georgia,10617423.0,1023487.0,56797.0,17906.0,7359069.0,0.096397,0.017495,0.693113,0.055494,25%-50%,25%-50%,lowest25%,150
19,Wyoming,578759.0,54764.0,1391.0,682.0,649293.0,0.094623,0.012453,1.121871,0.025400,25%-50%,lowest25%,25%-50%,150
20,Iowa,3155070.0,282384.0,NaN,5558.0,1326802.0,0.089502,0.019682,0.420530,NaN,50%-75%,25%-50%,lowest25%,150
21,Missouri,6137428.0,480643.0,NaN,8161.0,4565866.0,0.078313,0.016979,0.743938,NaN,50%-75%,25%-50%,lowest25%,150
22,Colorado,5758736.0,436602.0,23904.0,5989.0,6415123.0,0.075816,0.013717,1.113981,0.054750,50%-75%,lowest25%,25%-50%,150
23,Oregon,4217737.0,157079.0,8714.0,2296.0,3850973.0,0.037242,0.014617,0.913042,0.055475,lowest25%,50%-75%,50%-75%,150
24,Alabama,4903185.0,499819.0,45976.0,10148.0,2323788.0,0.101938,0.020303,0.473934,0.091985,top25%,top25%,lowest25%,125
25,Mississippi,2976149.0,297581.0,9162.0,6808.0,1756955.0,0.099989,0.022878,0.590345,0.030788,25%-50%,top25%,lowest25%,125
26,Nevada,3080156.0,296190.0,NaN,5037.0,2770192.0,0.096161,0.017006,0.899367,NaN,25%-50%,25%-50%,50%-75%,125
27,Florida,21477737.0,1909209.0,82237.0,32266.0,22339182.0,0.088892,0.016900,1.040109,0.043074,50%-75%,25%-50%,50%-75%,125
28,California,39512223.0,3501394.0,NaN,54124.0,49646014.0,0.088615,0.015458,1.256472,NaN,50%-75%,50%-75%,25%-50%,125
29,Minnesota,5639632.0,490011.0,25978.0,6550.0,7111428.0,0.086887,0.013367,1.260974,0.053015,50%-75%,lowest25%,top25%,125
30,Ohio,11689100.0,978471.0,50881.0,17656.0,10257157.0,0.083708,0.018044,0.877498,0.052001,50%-75%,25%-50%,50%-75%,125
31,Alaska,731545.0,56886.0,1293.0,305.0,1731628.0,0.077761,0.005362,2.367083,0.022730,50%-75%,lowest25%,top25%,125
32,New Hampshire,1359711.0,76861.0,1131.0,1184.0,1497185.0,0.056527,0.015404,1.101105,0.014715,lowest25%,50%-75%,25%-50%,125
33,Maine,1344212.0,45794.0,1570.0,706.0,1660180.0,0.034068,0.015417,1.235058,0.034284,lowest25%,50%-75%,25%-50%,125
34,Puerto Rico,3193694.0,101632.0,NaN,2062.0,407604.0,0.031823,0.020289,0.127628,NaN,lowest25%,top25%,lowest25%,125
35,Vermont,623989.0,16083.0,NaN,208.0,1124215.0,0.025774,0.012933,1.801658,NaN,lowest25%,lowest25%,top25%,125
36,North Dakota,762062.0,100391.0,3880.0,1478.0,1425146.0,0.131736,0.014722,1.870118,0.038649,top25%,50%-75%,top25%,100
37,Arizona,7278717.0,826454.0,57907.0,16328.0,7908105.0,0.113544,0.019757,1.086470,0.070067,top25%,25%-50%,25%-50%,100
38,Indiana,6732219.0,667262.0,43217.0,12737.0,8242367.0,0.099115,0.019088,1.224317,0.064768,25%-50%,25%-50%,25%-50%,100
39,West Virginia,1792147.0,133445.0,NaN,2325.0,2236551.0,0.074461,0.017423,1.247973,NaN,lowest25%,25%-50%,25%-50%,100
40,Pennsylvania,12801989.0,948643.0,NaN,24349.0,10681716.0,0.074101,0.025667,0.834379,NaN,lowest25%,top25%,50%-75%,100
41,Rhode Island,1059361.0,128781.0,9020.0,2547.0,3123348.0,0.121565,0.019778,2.948332,0.070041,top25%,25%-50%,top25%,75
42,Illinois,12671821.0,1198335.0,NaN,23014.0,18640190.0,0.094567,0.019205,1.470995,NaN,25%-50%,25%-50%,top25%,75
43,Louisiana,4648794.0,433785.0,NaN,9748.0,5695464.0,0.093311,0.022472,1.225149,NaN,25%-50%,top25%,25%-50%,75
44,New Jersey,8882190.0,812609.0,64396.0,23574.0,10999550.0,0.091487,0.029010,1.238383,0.079246,25%-50%,top25%,25%-50%,75
45,Delaware,973764.0,88354.0,NaN,1473.0,1431942.0,0.090735,0.016672,1.470523,NaN,25%-50%,25%-50%,top25%,75
46,Michigan,9986857.0,656072.0,NaN,16658.0,10621967.0,0.065694,0.025391,1.063595,NaN,lowest25%,top25%,25%-50%,75
47,New Mexico,2096829.0,186922.0,13252.0,3808.0,2783542.0,0.089145,0.020372,1.327501,0.070896,50%-75%,top25%,top25%,50
48,New York,19453561.0,1681169.0,89995.0,39029.0,39695100.0,0.086420,0.023215,2.040506,0.053531,50%-75%,top25%,top25%,50
49,Massachusetts,6892503.0,591356.0,19713.0,16417.0,16825551.0,0.085797,0.027762,2.441138,0.033335,50%-75%,top25%,top25%,50
50,Connecticut,3565287.0,285330.0,12257.0,7704.0,6520366.0,0.080030,0.027000,1.828847,0.042957,50%-75%,top25%,top25%,50
51,Maryland,6045680.0,387319.0,35651.0,7955.0,8097590.0,0.064065,0.020539,1.339401,0.092046,lowest25%,top25%,top25%,50
52,District of Columbia,705749.0,41419.0,NaN,1030.0,1261363.0,0.058688,0.024868,1.787269,NaN,lowest25%,top25%,top25%,50