CLean all-state-population file

In [1]:
import pandas as pd
df_population=pd.read_excel("population.xlsx",header=[1],skiprows=[0,1,-1])
df_population=df_population.rename(columns = {'Unnamed: 0':'state',2019:'2019population'})
df_population=df_population[['state', '2019population']].dropna()
def replacing(state):
    state=state.replace('.','')
    return state
df_population['state']=df_population['state'].apply(replacing)

df_population.head()

           state  2019population
0  United States     328239523.0
1      Northeast      55982803.0
2        Midwest      68329004.0
3          South     125580448.0
4           West      78347268.0